
.texto__contactanos {
    text-align: center;

    form {
        width: 350px;
        margin: auto;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items:stretch;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .espacio__contactanos {
        min-height: 50vh;
    }
}

.btn_contactar a {
    color: white;
}

