@mixin animacionParrafo {
    
}

.imagenes__productos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 50px;
    place-items: center;
    padding-bottom: 20px;

    .imagenes__producto {
        width: 300px;
        border-radius: 50%;
        transition: 0.5s;
        &:hover {
            box-shadow: 20px 10px 30px grey;
        }
    }
}

%btn {
    width: 100px;
    text-align: center;
    padding: 15px 0;
    margin: 10px auto;
    border-radius: 2px;
    color: #FFFFFF;
}

.btn_comprar {
    @extend %btn;
    background-color: $footer-color;
}

.btn_comprar a {
    color: white;
}

.parrafo__producto {
    margin-left: 25px;
    margin-right: 100px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
}
@keyframes slidein {
    from {
    margin-left: 400%;
    width: 300%
    }
    to {
    margin-left: 0%;
    width: 100%;
    }
}
