.tituloManjares {
    color:black;
    font-size: 25px;
    margin-left: 25px;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, white, whitesmoke);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

li {
    list-style: none;

}

.ulNav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    padding-inline-start: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.seccionComidaImagen {
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
}

.seccionComidaTitulo {
    background-image: linear-gradient(to left,rgb(199, 190, 190, 50%), rgb(128, 128, 128, 30%) ) ;
    text-align: center;
    color: rgba(17, 17, 17, 0.747);
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.seccionComida {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.seccionesComidas {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.imagenDeInicio {
    width: 100%;
}

.mediosDePago {
    font-family: 'Quicksand', sans-serif;
    color: seashell;


}

footer {
    background-color: rgb(172, 2, 2)  ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 1px;
    width: 100%;
}

.ulNav li:hover {
    background-color: white;
    transform: scale(1.5);
    transition: 0.5s;
}

.parrafoBakery {
    font-size: 2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.651);
    font-family: 'Quicksand', sans-serif;
}

.imagenesProductos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 50px;
    place-items: center;
}

.footerContactanos {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: seashell;

}

.imagenesProducto {
    width: 300px;
}

/*parte responsive*/

@media (max-width: 500px){
    nav{
        flex-direction: column;
    }
    footer {
        grid-template-columns: 1fr;
    }
    .mapaSucursales{
        flex-direction: column;
    }
    .seccionesComidas{
    grid-template-columns: 1fr;
    }
    .imagenesProductos{
    grid-template-columns: 1fr;
    }
    form {
        width: 100%;
    }
}

.mapaSucursales {
    display: flex;
    justify-content:space-evenly;

}


.mapaUbicacion {
    padding-top: 90px;
}

.seguiRedes {
    font-family: 'Quicksand', sans-serif;
    color: seashell;
}

.textoSucursales {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}


.textoMenu {
    font-family: 'Quicksand', sans-serif;
}

.textoProductos {
    font-family: 'Quicksand', sans-serif;
}

.textoContactanos {
    font-family: 'Quicksand', sans-serif;
    text-align: center;

}


/*pagina contactanos*/

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap; }

.espacioContactanos {
    min-height: 60vh;
}

.logo {
    display: flex;
    justify-content: center;
}
