.secciones__comidas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
}

.secciones__comidas .seccion__comida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.secciones__comidas .seccion__comida-imagen {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.secciones__comidas .seccion__comida-titulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#c7bebe), to(gray));
  background-image: linear-gradient(to left, #c7bebe, gray);
  text-align: center;
  color: rgba(17, 17, 17, 0.747);
  width: 100%;
}

.imagenes__productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
  gap: 50px;
  place-items: center;
  padding-bottom: 20px;
}

.imagenes__productos .imagenes__producto {
  width: 300px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imagenes__productos .imagenes__producto:hover {
  -webkit-box-shadow: 20px 10px 30px grey;
          box-shadow: 20px 10px 30px grey;
}

.mapa__sucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mapa__sucursales .mapa__ubicacion {
  padding-top: 90px;
}

.mapa__sucursales .texto__sucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.texto__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.texto__menu h2 {
  background-color: #ac0202;
  color: white;
}

.texto__contactanos {
  text-align: center;
}

.texto__contactanos form {
  width: 350px;
  margin: auto;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.texto__contactanos .espacio__contactanos {
  min-height: 50vh;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
  background-image: linear-gradient(to bottom, white, whitesmoke);
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #ac0202;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1px;
  width: 100%;
  color: seashell;
}

footer__contactanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .segui__redes a {
  color: white;
}

footer .medios__pago-imagen {
  width: 50px;
  height: 30px;
}

.parrafo__bakery {
  font-size: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.651);
  font-weight: 500;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid {
  font-size: larger;
}

/*parte responsive*/
@media (max-width: 500px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mapa__sucursales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secciones__comidas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .imagenes__productos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  form {
    width: 100%;
  }
  .medios__pago {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__contactanos {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */