$footer-color: rgb(172, 2, 2);
@import "_index.scss","_productos.scss","_sucursales.scss", "_menu.scss", "_contactanos.scss";

body {
    background-image: linear-gradient(to bottom, white, whitesmoke);
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: $footer-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 1px;
    width: 100%;
    color: seashell;

    &__contactanos
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .segui__redes a {
        color: white;
    }

    .medios__pago-imagen {
        width: 50px;
        height: 30px;
    }
}

.parrafo__bakery {
    font-size: 2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.651);
}

.logo {
    display: flex;
    justify-content: center;
}


.container-fluid {
    font-size: larger;
}


/*parte responsive*/

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    footer {
        grid-template-columns: 1fr;
    }

    .mapa__sucursales {
        flex-direction: column;
    }

    .secciones__comidas {
        grid-template-columns: 1fr;
    }

    .imagenes__productos {
        grid-template-columns: 1fr;
    }

    form {
        width: 100%;
    }

    .medios__pago {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer__contactanos {
        text-align: center;
    }
}